.bravo-reviews{
    .review-box{
        margin-top: 20px;
        border-radius: 5px;
        color: #1A2B48;
        font-weight: 500;
        @media(max-width: 766px){
            padding: 10px;
        }
        .review-box-score{
            border-right: 1px solid #D7DCE3;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
            @media(max-width: 990px){
                border-right: none;
            }
            .review-score {
                line-height: 50px;
                font-size: 72px;
                font-weight: 500;
                color: #5191FA;
                @media(max-width: 766px){
                    font-size: 60px;
                }
                .per-total {
                    font-size: 24px;
                }
            }
            .review-score-text {
                font-weight: 400;
                font-size: 24px;
                color: #1A2B48;
            }
            .review-score-base {
                margin-top: 10px;
                color: #768090;
                font-size: 14px;
                span {
                    color: #5191FA;
                }
            }
        }
        .mf-product-rating{
            .average-rating{
                .average-label{
                    font-size: 16px;
                    color: #000;
                    font-weight: 400;
                    margin: 0 0 10px;
                    line-height: 1;
                }
                .average-value{
                    font-size: 58px;
                    font-weight: 500;
                    color: #669900;
                    line-height: 1;
                    margin: 0;
                }
                .service-review{
                    .list-star{
                        li{
                            i{
                                color: #f2b309;
                            }
                        }
                    }
                    .review{
                        display: block;
                        margin: 0;
                        color: #666;
                    }
                }
                .review-sumary{
                    margin-top: 30px;
                    .item {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        margin-top: 3px;
                        &:first-child {
                            margin-top: 0;
                        }
                        .label {
                            margin-right: 10px;
                            position: relative;
                            font-size: 14px;
                            font-weight: 400;
                            width: 60px;
                        }
                        .progress {
                            position: relative;
                            height: 8px;
                            width: 76%;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            background: #f1f1f1;
                            margin-bottom: 0;
                            overflow: inherit;
                            max-width: 230px;
                            margin-right: 15px;
                            border-radius: 0!important;
                            .percent {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 8px;
                                background: #5191FA;
                                &.green {
                                    background: #669900; }
                                &.darkgreen {
                                    background: #27AE61; }
                                &.yellow {
                                    background: #F1C40F; }
                                &.orange {
                                    background: #E67F22; }
                                &.red {
                                    background: #E84C3D; }
                            }
                        }
                    }
                }
            }
            .review-form{
                input[type=text], textarea{
                    border: 1px solid #d9d9d9;
                    transition: 0.5s !important;
                    outline: none;
                    padding: 15px;
                    width: 100%;
                    color: #000;
                    font-weight: 400;
                    border-radius: 0;
                    &::placeholder{
                        font-weight: 400;
                    }
                }
                .comment-reply-title{
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    display: block;
                    text-align: left;
                    padding-bottom: 20px;
                }
                .comment-form{
                    .comment-notes{
                        display: block;
                        margin-bottom: 20px;
                        font-weight: 400;
                        &.comment-form-rating{
                            .review-items{
                                .item{
                                    overflow: hidden;
                                    >*{
                                        display: inline-block;
                                        vertical-align: middle;
                                        line-height: 22px;
                                        margin: 0;
                                    }
                                    .rates{
                                        padding-left: 20px;
                                        i{
                                            font-size: 16px;
                                            cursor: pointer;
                                            color: #f2b309;
                                            margin-right: 5px;
                                            &.hovered, &.selected{
                                                &:before{
                                                    content: '\f005';
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .form-group{
                        margin-bottom: 20px;
                        textarea{
                            min-height: 165px;
                        }
                    }
                    .form-submit{
                        margin: 10px 0 20px;
                        .btn{
                            margin: 0;
                            line-height: unset;
                            background: #fcb800;
                            color: #000;
                            border-radius: 0;
                            padding: 0 40px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
    .comments{
        margin-top: 40px;
        .reviews-title{
            font-size: 16px;
            color: #000;
            font-weight: 500;
            margin: 0 0 40px;
            background-color: #f5f5f5;
            padding: 20px;
        }
        .review-list{
            .review-item{
                padding-bottom: 27px;
                margin-bottom: 40px;
                font-size: 14px;
                &:not(:last-child){
                    border-bottom: 1px solid #e1e1e1;
                }
                .review-item-head{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    margin-right: 100px;
                    .media{
                        .media-left{
                            padding-right: 20px;
                            img {
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                            }
                            .avatar-text{
                                background: #1a2b47;
                                color: #fff;
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                                display: block;
                                text-align: center;
                                position: relative;
                                font-size: 29px;
                                top: 0;
                            }
                        }
                        .media-body{
                            .media-heading {
                                font-size: 14px;
                                color: #1A2B48;
                                font-weight: 600;
                                margin-bottom: 5px;
                                margin-top: 5px;
                            }
                            .date {
                                color: #AEB4C0;
                            }
                        }
                    }
                }
                .review-item-body{
                    margin-top: 20px;
                    .title {
                        position: relative;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    .review-star {
                        padding: 0;
                        margin: 0;
                        overflow: hidden;
                        li {
                            list-style: none;
                            margin-right: 5px;
                            float: left;
                            .fa {
                                color: #f2b309;
                                font-size: 16px;
                            }
                        }
                    }
                    .detail {
                        margin-top: 5px;
                        font-size: 14px;
                        color: #5E6D77;
                        font-weight: 400;
                        position: relative;
                    }
                }
            }
        }
    }
}
