@font-face {
    font-family: "axtronic-icon";
    src: url('./fonts/axtronic-icon.eot?zmkabw');
    src: url('./fonts/axtronic-icon.eot?zmkabw#iefix') format('eot'),
    url('./fonts/axtronic-icon.woff2?zmkabw') format('woff2'),
    url('./fonts/axtronic-icon.woff?zmkabw') format('woff'),
    url('./fonts/axtronic-icon.ttf?zmkabw') format('truetype'),
    url('./fonts/axtronic-icon.svg?zmkabw#axtronic-icon') format('svg');
}
// Bourbon
// See: https://www.bourbon.io/docs/latest/
@import 'bourbon';
// Susy
// Susy grid system. See: http://oddbird.net/susy/docs/
@import 'susy';

// Vendors
// External libraries and frameworks.
@import 'scss/vendors/modular-scale';
@import 'scss/icons/icons';

@import 'scss/vendors/normalize';
@import 'scss/utils/mixins';

@import "scss/animation";
@import "scss/typography";
@import "scss/grid";


@import "scss/main-navigation";
@import "scss/header";
@import "scss/main-content";
@import "scss/footer";

@import "scss/slider";
@import "scss/featured";
@import "scss/promotion";
@import "scss/side-wrap";
@import "scss/product";
@import "scss/news";

@import "scss/responsive";

