#masthead{
    z-index: 99;
    position: relative;
    background-color: var( --e-global-color-accent );
    a:not(.button) {
        color: #fff;
    }

    .axtronic_topbar {
        .topbar-box{
            border-bottom: 1px solid #0f2437;
            transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
            font-size: 14px;
            font-weight: 400;
        }
        .topbar-left {
            ul{
                li{
                    margin-right: calc(25px/2);
                    margin-left: calc(25px/2);
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .topbar-right {
            .topbar-items{
                li{
                    a.nav-link{
                        padding: .5rem;
                        &.dropdown-toggle::after{
                            margin-left: 0;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
         ul {
             list-style-type: none;
             padding: 0;
             margin: 0;
             font-size: 14px;
             display: flex;
             flex-direction:row;
            li.dropdown {
                position: relative;
                &:hover {
                    ul.dropdown-menu {
                        display: block;
                    }
                }
                a.dropdown-toggle:after {
                    @include themecustom-icon;
                    content: themecustom-char(angle-down);
                    border-top: 0;
                }
                ul.dropdown-menu {
                    display: none;
                    position: absolute;
                    right: 0px;
                    z-index: 999;
                    text-align: left;
                    top: calc(90% + 3px);
                    padding: 10px 0;
                    background-color: var(--background2);
                    box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                    border-radius: 0;
                    a:not(.button) {
                        color: var( --accent );
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-size: 12px;
                    }
                    a:hover, a:focus {
                         color:var(--primary_hover);
                    }
                }
            }
            li {
                a:hover{
                    color:var(--primary_hover);
                }
            }
        }
    }
    .header-wrap{
        display: flex;
        padding: 30px 0;
        align-items: center;

        .site-branding{
            width: 245px;
        }
        .site-navigation{
            width: calc(100% - 555px);
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 14px;
                display: flex;
                justify-content: center;
                flex-direction: unset;
                 li.dropdown {
                    position: relative;
                    a.dropdown-toggle:after {
                        @include themecustom-icon;
                        content: themecustom-char(angle-down);
                        border-top: 0;
                        margin-left: 0;
                    }
                     &:hover {
                         ul.dropdown-menu {
                             display: block;
                             top: 100%;
                             opacity: 1;
                             visibility: visible;
                             pointer-events: auto;
                         }
                     }
                     ul.dropdown-menu {
                        display: block;
                         opacity: 0;
                         visibility: hidden;
                        position: absolute;
                        left: 0;
                        z-index: 999;
                        text-align: left;
                        top: calc(95% + 15px);
                        padding: 0;
                        background-color: var(--background);
                        box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                        pointer-events: auto;
                         border: 0;
                         -webkit-border-radius: 0;
                         -moz-border-radius: 0;
                         border-radius: 0;
                        border-top: 2px solid var(--primary);
                        -ms-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        li.nav-item {
                            display: block;
                            min-width: 260px;
                            position: relative;
                            text-align: left;
                            margin: 0;
                            a {
                                position: relative;
                                padding: 10px 40px 10px 25px;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 1.5;
                                color: var(--body);
                                transition: all 0.3s ease;
                                border-bottom: 1px solid var(--border);
                            }
                            &:hover {
                                background: var(--background2);
                                a {
                                    color: var(--primary);
                                    padding-left: 40px;
                                    padding-right: 20px;
                                    &:before {
                                        content: "";
                                        width: 9px;
                                        height: 1px;
                                        background: #cdaa7c;
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        -webkit-transform: translateY(-50%);
                                        -moz-transform: translateY(-50%);
                                        -ms-transform: translateY(-50%);
                                        -o-transform: translateY(-50%);
                                        left: 25px;
                                    }
                                }
                            }
                        }
                        a:not(.button) {
                            color: var( --e-global-color-accent );
                            display: flex;
                            align-items: center;
                            white-space: nowrap;
                            font-size: 12px;
                        }
                        a:hover, a:focus {
                             color:var(--primary_hover);
                        }
                    }
                }
                li {

                    a {
                        font-size: 16px;
                        line-height: 1.5555;
                        font-weight: 600;
                        padding: 1em 1.1em;
                        &:hover{
                            color:var(--primary_hover);
                        }
                    }
                }
            }
        }
        .site-member {
            width: 310px;
            ul.topbar-items {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 14px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li.dropdown {
                    position: relative;
                    &:hover {
                        ul.dropdown-menu {
                            display: block;
                        }
                    }
                    ul.dropdown-menu {
                        display: none;
                        position: absolute;
                        left: 0;
                        z-index: 999;
                        text-align: left;
                        top: calc(90% + 5px);
                        padding: 10px 0;
                        background-color: var(--background2);
                        box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                        a:not(.button) {
                            color: var( --e-global-color-accent );
                            display: flex;
                            align-items: center;
                            white-space: nowrap;
                            font-size: 12px;
                        }
                        a:hover, a:focus {
                             color:var(--primary_hover);
                        }
                    }
                }
                li {
                    a {
                        padding: 0;
                        font-size: 14px;
                    }
                    a:hover{
                        color:var(--primary_hover);
                        i{
                            color:var(--primary_hover);
                        }
                    }
                }
                .group-icon-action{
                    vertical-align: top;
                    position: relative;
                    display: inline-block;
                    i{
                        font-size: 28px;
                        color: #fff;
                        position: relative;
                        top: 3px;
                    }
                    .count{
                        min-width: 16px;
                        height: 16px;
                        line-height: 16px;
                        font-size: 10px;
                        font-weight: 400;
                        text-align: center;
                        border-radius: 50%;
                        display: inline-block;
                        position: absolute;
                        top: -3px;
                        right: -5px;
                        color: #fff;
                        background-color: var(--primary);
                    }
                }
                .group-icon-content{
                    margin-left: 8px;
                    display: inline-block;
                    .sub-text{
                        line-height: 1;
                        display: block;
                        font-size: 12px;
                        color: #ffffff;
                        opacity: .5;
                    }
                    .sub-title{
                        color: #fff;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .header__content-bottom{
        background-color: var(--primary);
        transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
        padding: 15px 0;
        .vertical-navigation{
            position: relative;
            height: 100%;
            border-radius: 8px 8px 0 0;
            transition: all .1s ease;
            &:hover .vertical-menu{
                opacity: 1;
                visibility: visible;
                z-index: 99;
                transform: translateY(0);
            }
        }
        .vertical-navigation-header{
            font-size: 16px;
            padding: 21px 16px;
            font-weight: 600;
            color: #fff;
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            background: rgba(255,255,255,.1);
            border-radius: 8px;
            position: relative;
            &:before{
                @include themecustom-icon;
                content: "\e002";
                line-height: 1;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                right: 24px;
                transform: translateY(-50%);
                font-weight: 700;
                font-size: 14px;
            }
            i{
                font-size: 18px;
                vertical-align: middle;
                line-height: 1;
                margin-right: 15px;
            }
        }
        .vertical-menu{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            margin-top: 10px;
            transform: translateY(15px);
            box-shadow: 0 0 50px 0 rgb(0 0 0 / 7%);
            &:before{
                position: absolute;
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-bottom: 6px solid;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 0;
                top: -6px;
                left: 35px;
                border-bottom-color: #fff;
            }
            .menu{
                background-color: #fff;
                position: relative;
                list-style: none;
                margin: 0;
                border-top: none;
                border-radius: 8px;
                padding: 10px 0;
                flex-direction: column;
                li{
                    &:last-child{
                        a{
                            border-bottom: 0;
                        }
                    }
                    a{
                        color: var(--accent);
                        font-size: 14px;
                        &:hover{
                            color: var(--primary);
                        }
                        &.nav-link{
                            position: relative;
                            font-weight: 500;
                            padding: 15px 24px;
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            border-bottom: 1px solid var(--border);
                            &:hover{

                                i{
                                    color: var(--primary);
                                }
                            }
                            i{
                                font-size: 24px;
                                margin-right: 15px;
                                color: #838685;
                            }
                        }
                    }

                    &.has-mega-menu{
                        &:hover{
                            a.nav-link:after{
                                color: var(--primary);
                            }
                            .sub-menu{
                                opacity: 1;
                                visibility: visible;
                                min-height: 100%;
                                transform: translateX(-10px);
                            }
                        }
                        a.nav-link{
                            &:after{
                                @include themecustom-icon;
                                font-weight: 400;
                                line-height: 1;
                                vertical-align: middle;
                                content: "\e004";
                                float: right;
                                color: var(--accent);
                                margin-left: auto;
                            }
                        }
                    }
                }
                .sub-menu{
                    position: absolute;
                    padding: 13px 0;
                    left: 100%;
                    top: 0;
                    visibility: hidden;
                    opacity: 0;
                    list-style: none;
                    margin: 0;
                    background: #fff;
                    width: 1000px;
                    border-radius: 0 8px 8px 0;
                    box-shadow: 0 0 50px 0 rgb(0 0 0 / 7%);
                    z-index: 10;
                    .mega-menu-item{
                        padding: 8px 20px 8px 25px;
                        width: 100%;
                        ul.list-items{
                            flex-direction: column;
                            li{
                                padding-bottom: calc(16px/2);
                                &.product-item{
                                    padding-bottom: 0;
                                }
                                .product-list-wrap .product-caption .price{
                                    font-size: 12px;
                                }
                            }
                        }

                    }
                    ul{
                        margin-left: 0;
                    }
                }
            }
        }
        p{
            color: #fff;
            margin: 0;
            font-size: 14px;
            text-align: right;
            font-weight: 400;
        }
        .product-cat{
            position: relative;
            .product-cat-label{
                position: relative;
                white-space: nowrap;
                color: #fff;
                .box{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 16px;
                    background: #fff;
                    border-radius: 8px 0 0 8px;
                    line-height: 26px;
                    color: var(--accent);
                    height: 100%;
                    cursor: pointer;
                    border: 1px solid var(--border);
                    border-right: 0;
                    font-size: 15px;
                    border-color: #ffffff00;
                    i{
                        font-size: 14px;
                        font-weight: 700;
                        margin-left: 15px;
                    }
                    select{
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
            }

        }
        input{
            border-radius: 0;
            border: 0;
            border-left-width: 1px;
            border-style: solid;
            border-color: var(--border);
            &:focus{
                box-shadow: none;
            }
        }
        button.btn{
            font-weight: 500;
            padding: 0 36px;
            border-radius: 0 8px 8px 0;
            background: var(--accent);
            border: 1px solid var(--accent);;
            border-left: 0;
            color: #ffffff;
            &:hover{
                background-color: transparent;
                color: #ffffff;
                border-color: #ffffff;

            }
        }
    }
}
