.side-wrap{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    width: 300px;
    background-color: var(--background);
    transition: transform .25s ease;
    display: flex;
    flex-direction: column;
    right: 0;
    z-index: 9999999;
    transform: translate3d(300px,0,0);
    &.active{
        transform: none;
        & + .side-overlay {
            visibility: visible;
            opacity: 1;
        }
    }
    .side-title{
        flex: 1 1 auto;
        font-size: 18px;
        text-transform: uppercase;
        color: var(--accent);
        font-weight: 600;
        padding: 20px 15px;
        border-bottom: 2px solid var(--border);
        display: block;
        line-height: 1;
    }
}
.side-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 997;
    opacity: 0;
    background-color: rgba(0,0,0,.7);
    visibility: hidden;
    transition: opacity .25s ease,visibility 0s ease;
}
.close-side {
    color: var(--accent);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 600;
    font-size: 13px;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    &:before, &:after{
        content: " ";
        position: absolute;
        top: 50%;
        display: inline-block;
        margin-top: -1px;
        width: 18px;
        height: 2px;
        background-color: var(--accent);
        transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
        right: 0;
        transform: rotate(-45deg);
    }
    &:before{
        transform: rotate(45deg);
    }
    &:hover{
        &:before, &:after{
            transform: rotate(0);
        }
    }
    .screen-reader-text{
        border: 0;
        clip: rect(1px,1px,1px,1px);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        word-wrap: normal!important;
    }
}

.side-account-form-wrap{
    padding: 20px 15px 10px;
    height: 100%;
    .box-content{
        overflow: hidden;
        position: relative;
        height: 100%;
        .form-login{
            transform: translateX(-100%);
            transition: all 350ms cubic-bezier(.56,.12,.12,.98);
        }
        .form-register, .form-lost-password{
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(100%);
            width: 100%;
            transition: all 350ms cubic-bezier(.56,.12,.12,.98);
        }
        .form-register, .form-lost-password, .form-login{
            &.active{
                transform: translateX(0);
            }
        }
        span.label{
            color: var(--accent);
            display: block;
            margin-bottom: 0.5em;
            font-weight: 600;
            font-size: 14px;
            .required{
                color: #e2401c;
            }
        }
        img.img-label{
            display: block;
            margin: 0 auto 30px;
        }
        a.lostpass-link{
            color: var(--text);
            text-decoration: underline;
            text-align: center;
            font-size: 14px;
            display: block;
            margin-top: 15px;
            &:hover{
                color: var(--primary);
            }
        }
        .btn{
            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            line-height: 24px;
            background-color: var( --primary );
            border-radius: 8px 8px 8px 8px;
            padding: 12px 30px;
        }
        .login-link{
            font-size: 14px;
            width: 100%;
            display: block;
            text-align: center;
            &:hover{
                text-decoration: underline;
            }
        }
        p.note{
            padding: 20px;
            border-radius: 8px;
            background: var(--background2);
            font-size: 14px;
            width: 100%;
            a.woocommerce-privacy-policy-link{
                color: var(--primary);
                text-decoration: none;
            }
        }

        .login-form-bottom{
            border-top: 2px dashed;
            border-color: var(--border);
            margin-top: 20px;
            padding: 20px 0;
            text-align: center;
            font-size: 14px;
        }
    }
    .axtronic-login-form-ajax{
        margin-bottom: 5px;
    }
}
.site-cart-side{
    .card-side-wrap-content{
        padding: 0;
        .axtronic-card-content{
            padding: 20px 15px 30px;
            .variation{
                border-left: 1px dashed var(--border);
                padding-left: 15px;
                display: flex;
                justify-content: start;
                dd{
                    margin: 0;
                    padding-left: 10px;
                    p{
                        margin: 0;
                    }
                }
            }
            .product-caption{
                h2.product__title a{
                    font-size: 14px;
                    color: var(--accent);
                    font-weight: 600;
                    margin-bottom: 3px;
                    line-height: 22px;
                    &:hover{
                        color: var(--primary);
                    }
                }
            }
            .item-price{
                .quantity{
                    color: var(--accent);
                    font-size: 17px;
                }
            }
        }
    }

    .axtronic-card-bottom{
        .card-bottom-total{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            margin: 0;
            border-top: 2px solid;
            border-top-color: var(--border);
            strong{
                font-size: 20px;
                color: var(--accent);
            }
            .amount{
                color: var(--primary);
                font-size: 24px;
                font-weight: 600;
            }
        }
        .card-bottom-button{
            margin: 0;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            a.button{
                flex-basis: 50%;
                border-radius: 0;
                font-weight: 500;
                text-transform: capitalize;
                padding: 12px;
                font-size: 16px;
                &:hover{
                    opacity: 0.7;
                }
                &:first-child{
                    background: var(--accent);
                    color: #fff;
                    margin: 0;
                }
                &.checkout{
                    margin-top: 0;
                    background: var(--primary);
                }
            }
        }
    }
}
.site-wishlist-side{
    .axtronic-wishlist-bottom{
        padding-top: 3em;
        margin: 0;
        border-top: 2px dashed;
        border-top-color: var(--border);
        a.button{
            font-size: 14px;
            display: block;
            text-align: center;
        }
    }

    .axtronic-wishlist-content{
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        left: 0;
    }
}
.side-wrap-content{
    margin-bottom: 0;
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 30px;
    .axtronic-content-scroll{
        position: relative;
        flex: 1 1 auto;
        overflow-y: auto;
        padding-right: 15px;
        margin-right: -15px;
        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
            width: 6px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            background: linear-gradient(var(--primary) 0%, var(--primary_hover) 100%)
        }
    }
    ul.list-product-items {
        li{
            &+ li{
                margin-top: 40px;
            }
            &.product-item {
                .product-transition{
                    flex: 0 0 80px;
                    .product-img-wrap{
                        border: 2px dashed var(--border);
                        border-radius: 15px;
                    }
                }
                .product-caption h2{
                    margin-top: 0;
                    line-height: 24px;
                    a{
                        color: var(--primary);
                        &:hover{
                            color: var(--primary_hover);
                        }
                    }
                }
                .remove_button{
                    position: absolute;
                    top: 50%;
                    font-size: 0;
                    color: var(--light);
                    right: 0;
                    transform: translate(0, -50%);
                    &:hover{
                        color: var(--primary);
                    }
                    &:before{
                        @include themecustom-icon;
                        content: themecustom-char(trash);
                        line-height: 1;
                        vertical-align: middle;
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .axtronic-card-bottom{

    }
}

@media (min-width: 1024px) {
    .side-wrap {
        width: 440px;
        transform: translate3d(440px,0,0);
    }
}
