.form-group-item{
    .g-items{
        margin-bottom: 20px;
        .item{
            border: solid 1px #c4cdd5;
            border-top: 0px;
            padding: 0px 15px;
            .form-control{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            >.row{
                >div{
                    padding: 10px;
                    border-right: 1px solid #c4cdd5;
                    &:last-child{
                        border-right: 0px;
                    }
                }
            }
            textarea.full-h{
                height: 100%;
            }
        }
    }
    .g-more{
        display: none;
    }
    label{
        display: block;
        min-height: 20px;
    }

    .g-items-header{
        font-weight: bold;
        border: solid 1px #c4cdd5;
        padding: 10px;
        text-align: center;
    }
    .g-lang{
        padding: 10px 5px 10px;
        border: solid 1px #ccc;
        position: relative;
        margin-top: 20px;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        .title-lang{
            font-size: 13px;
            position: absolute;
            top: -20px;
            background: #ccc;
            padding: 0px 20px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            left: -1px;
        }
    }
}







.show_tags{
    .tag_item{
        background: #4fa6f3;
        display: inline-block;
        padding: 6px 8px;
        font-size: 86%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        vertical-align: baseline;
        border-radius: 0.25em;
        margin-right: 5px;
        padding-right: 0px;
        margin-bottom: 6px;
    }
    .tag_item [data-role="remove"] {
        margin-left: 8px;
        padding-left: 3px;
        cursor: pointer;
        padding-right: 6px;
        display: inline-block;
        border-left: 1px solid white;
    }
    .tag_item [data-role="remove"]:after {
        content: "x";
        padding: 0px 2px;
    }
}

.filter-form{
    margin-bottom: 15px;
    &.filter-form-right{
        input,select,button,.filter-item,.select2{
            margin-left: 15px;
            max-width: 200px;
            flex-shrink: 0;
            &:first-child{
                margin-left: 0px;
            }
        }
        .select2-container{
            width: 200px;
        }
        .btn-icon{
            display: flex;
        }
    }
    &.filter-form-left{
        input,select,button,.filter-item,.select2{
            margin-right: 15px;
            max-width: 200px;
            flex-shrink: 0;
            &:last-child{
                margin-right: 0px;
            }
        }
        .btn-icon{
            display: flex;
        }
    }
}

.control-map-group{
    position: relative;
    #map_content{
        margin-right: 270px;
        height: 300px;
    }
    .g-control{
        position: absolute;
        right: 0;
        top: 0;
        width: 250px;
        border: solid 1px #cccc;
        padding: 15px 15px 5px;
        label{
            min-width: 75px;
            display: inline-block;
        }
    }
    .bravo_searchbox{
        width: 250px;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 0;
        height: 45px;
    }
    @media(max-width: 640px){
        #map_content{
            width: 100%;
        }
        .g-control{
            width: 100%;
            position: relative;
        }
    }
}
.panel-index{
    .form-index-hide{
        //display: none;
    }
    .control-map-group{
        #map_content{
            margin-right: 0;
        }
        .g-control{
           display: none;
        }
    }
}
 th.author, th.date, th.category, th.status {
    width: 15%;
}
th.slug{ width: 20%}

.terms-scrollable{
    overflow-y: auto;
    background: #f4f6f8;
    padding:10px;
    border: 1px solid #e1e2e5;
    max-height: 250px;
    label{
        display: block;
        margin-bottom:10px;
        &:last-child{
            margin-bottom:0px;
        }
    }
}

.btn-show-info-review{
    text-decoration: none;
    float: right;
    color: #000;
}
.review-star {
    padding: 0;
    margin: 0;
    overflow: hidden;
    li {
        list-style: none;
        margin-right: 5px;
        float: left;
        .fa {
            color: #FFDC00;
            font-size: 16px;
        }
    }
}
.review-count-approved{
    box-sizing: border-box;
    display: inline-block;
    padding: 0 8px;
    min-width: 24px;
    height: 2em;
    border-radius: 5px;
    background-color: #72777c;
    color: #fff;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    transition: all 0.3s;
    &:after {
        content: "";
        display: block;
        margin-left: 8px;
        width: 0;
        height: 0;
        border-top: 5px solid #72777c;
        border-right: 5px solid transparent;
    }
    &:hover{
        background-color: #007bff;
        &:after {
            border-top: 5px solid #007bff;
        }
        color: #fff;
    }
}
.header-status-control{
    float: left;
    a{
        text-decoration: none;
        span{
            color: #000;
            font-size: 13px;
            position: relative;
            bottom: 1px;
        }
    }
}
.table-hover{
    .review-items{
        border-radius: 5px;
        border: solid 1px #ccc;
        padding: 15px 15px 0;
        margin-top: 50px;
        .item{
            margin-bottom: 10px;
            label{
                min-width: 85px;
            }
        }
    }
    .left{
        float: left;
    }
    a{
        text-decoration: none;
        cursor: pointer;
    }
}

.badge{
    font-size: 12px;
    text-transform: capitalize;
    min-width: 50px;
    display: inline-block;
    &.badge-publish,&.badge-active{
        color: #fff;
        background-color: #28a745;
    }
    &.badge-approved{
        color: #fff;
        background-color: #28a745;
    }
    &.badge-pending{
        color: #212529;
        background-color: #ffc107;
    }
    &.badge-spam{
        color: #fff;
        background-color: #dc3545;
    }
    &.badge-trash{
        color: #fff;
        background-color: #6c757d;
    }
    &.badge-draft{
        color: #fff;
        background-color: #6c757d;
    }
    &.badge-deactivate{
        color: #212529;
        background-color: #ffc107;
    }
}
.item-url-demo{
    margin: 0;
}
.form-group-image{
    max-width: 400px;
}
.nav-tabs{
    &.vertical-nav{
        border-bottom:0px;
        padding:7px 0px;
        .nav-item{
            margin-right: -16px;
        }
        .nav-link{
            &.active,&:hover{
                border-color:#dfe4e8;
                border-right-color: #f4f6f8;
                border-bottom-left-radius: 0.25rem;
                border-top-right-radius: 0;
            }
            &:hover{
                border-bottom-left-radius: 0.25rem;
                border-top-right-radius: 0;
            }
        }
    }
}
.dates-calendar
{
    position: relative;
    &.loading{
        &:before{
            position: absolute;
            content:'';
            top: -15px;
            left: -15px;
            right: -15px;
            bottom: -15px;
            background: rgba(0, 0, 0, 0.5);
            z-index: 3;
        }
    }
    .fc-event{
        position: relative;
        height: 41px;
        border-radius: 0px;
        top: -25px;
        padding-top: 25px;
        background: none!important;
        border: none;
        //color: #333!important;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        padding-bottom: 25px;
        .fa-bolt{
            color: rgb(255, 171, 83);
        }
        .fc-title{
            padding: 1px 5px;
            border-radius: 2px;
            background: #2991ff;
            color: white;
            display: inline-block;
        }
        &.blocked-event{
            .fc-title{
                background: #717171;
                color: white;
            }
        }
        &.active-event{
            .fc-title{
                background: #2c67b1;
                color: white;
            }
        }
        &.full-book-event{
            .fc-title{
                background: #e67e22;
                color: white;
            }
        }
    }
}

.bc-form-item{
    .table{
        .btn-sm{
            padding: 2px 10px;
        }
    }
}
.bravo-form .fa-spinner {
     display: none;
 }
.bravo-form.loading .fa-spinner {
    display: inline-block;
}
.form-control {
    height: auto;
}
.input-group-text{
    padding:  5px 10px;
}
.form-group-multi-lang{
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
    .title-lang{
        margin: 10px 0 5px;
    }
}
.email-settings-header{
    cursor: pointer;
    position: relative;
    .icon-check{
        font-size: 20px;
        color: #999;
    }
    h6:before{
        content: "\f3d8";
        display: inline-block;
        font-family: "Ionicons";
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 17px;
        color: #007bff;
    }
    .collapsed{
        &:before{
            content: "\f3d0";
        }
    }
}

.product-information-tabs.panel{
    .col-nav{

        border-right: 1px solid #dee2e6;
    }
    .panel-title{
        justify-content: flex-start;
        align-items: center;
        padding: 7px 20px;
        strong{
            margin-right: 10px;
        }
        select{
            width: auto;
            height: auto;
        }
    }
    >.panel-body{
        background: #f4f6f8;
        padding: 0px 15px;
    }
    .col-content{
        padding: 15px;
        background: white;
        >.tab-content{
            padding: 0px;
            border:none;
            .form-group{
                display: flex;
                >label,.control-label{
                    width: 170px;
                    flex-shrink: 0;
                    margin-right: 30px;
                    font-weight: 600;
                    display: block;
                    margin-top: 6px;
                }
                .controls{
                    flex-grow: 1;
                }
                .controls-lg{
                    flex-grow: 1;
                }
            }
        }
    }
    @media (min-width: 1367px) {
        .col-content{
            >.tab-content{
                .form-group{
                    .controls{
                        width:40%;
                    }
                    .controls-lg{
                        flex-grow: 1;
                    }
                }
            }
        }
    }
    &.loading{
        position: relative;
        &:after{
            content:"";
            z-index: 999;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background: rgb(255, 255, 255);
            opacity: 0.6;
            cursor: wait;
            position: absolute;
        }
    }
    @media (max-width: 1366px){
        .col-content{
            >.tab-content{
                .variation-item{
                    .form-group{
                        display: block;
                        >label,.control-label{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .nav-link i{
            display: none;
        }
    }
}
.variation-list{
    .variation-item{
        border:1px solid #dfe4e8;
        margin-bottom: 10px;
        .variation-header{
            display: flex;
            align-items: center;
            padding: 5px 15px;
            border-bottom: 1px solid #dfe4e8;
            background: #f4f6f8;
            cursor: pointer;
            margin-bottom: -1px;
            .variation-id,.attr-item{
                margin-right: 10px;
                &:last-child{
                    margin-right: 0px;
                }
            }
            .attr-item{
                display: flex;
                align-items: center;
                span{
                    flex-shrink: 0;
                    display: block;
                    margin-right: 7px;
                }
                select{
                    height: 30px;
                    padding: 2px 10px;
                }
            }
            .btn{
                line-height: 16px;
            }
        }
        .variation-body-inner{
            padding: 10px;
            input.form-control{
                height: 32px;;
            }
        }
    }
}
.image-item{
    img{
        max-width: 100%;
        height: auto;
    }
}
